*{
    margin: 0;
    padding: 0;
}

.smartphone img {
    width: 70%;
    height: 70%;
    object-fit: cover;
}
/* BOTOES */
.smartphone button,
.smartphone button {
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: .75rem 0;
    width: 148px;
    cursor: pointer;
    transition: .5s;
}

.smartphone__item button {
    outline: none;
    border: none;
    background-color: black;
    color: white;
    margin-right: 1rem;
    text-align: center;
    padding: .5rem 0;
    width: 80px;
    cursor: pointer;
    transition: .5s;
}

.smartphone__botao button:hover,
.smartphone__botao button:hover,
.smartphone__item button:hover,
.smartphone__atracao button:hover {
    background-color: #004aad;
}
